In [11]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
import duckdb

base_dir = Path('c:\\Users\\henry\\OneDrive\\Personal Career\\Personal Projects\\GitHub\\Revenue-Sustainability-Analysis')
data_dir = Path(base_dir / 'Dataset')

## Define adopters vs. non adopters

In [12]:
os.chdir(data_dir)

df = pd.read_parquet('feature_usage.parquet')

# Remove the random ...1 introduced
# df = df.drop(columns='...1')
# df.to_parquet(data_dir / 'feature_usage.parquet')

In [13]:
os.chdir(base_dir / 'raw_data')

df = pd.read_csv('feature_usage.csv')

In [14]:
feats = pd.read_parquet(data_dir / 'feature_usage.parquet')

In [15]:
# pd.set_option('display.max_rows',None)

In [16]:
users = feats[feats['feature_name'] == 'feature_newai']

In [17]:
feats.head()

,usage_id,subscription_id,usage_date,feature_name,usage_count,usage_duration_secs,error_count,is_beta_feature,post_release,usage_pk,synthetic,_usage_day,usage_day
0,U-sage0,S-38131a,<NA>,feature_25,14,3782,2,True,True,id_gKDvFC,None,None,2024-12-11
1,U-sage1,S-712e69,2023-10-09,feature_30,8,2553,0,True,True,None,FALSE,None,2023-10-09
2,U-sage2,S-9c09cb,2024-08-18,feature_13,13,1860,<NA>,True,True,None,FALSE,None,2024-08-18
3,U-sage3,S-2dbf26,2024-09-19,None,9,834,<NA>,True,True,id_QgdjPG,FALSE,None,2024-09-19
4,U-sage4,S-d114e2,2024-06-12,feature_4,9,1300,1,True,True,id_xbbuep,FALSE,None,None

In [18]:
users.groupby("subscription_id")["usage_date"].nunique().reset_index(name="distinct_usage_days") \
    .sort_values(by=['distinct_usage_days', 'subscription_id'],
    ascending=[False,True])

    subscription_id  distinct_usage_days
25         S-0f2e98                    3
35         S-148cf4                    3
43         S-1a2a77                    3
49         S-1cafc8                    3
57         S-1fc27b                    3
..              ...                  ...
321        S-bb9f23                    0
330        S-be509c                    0
363        S-d11408                    0
366        S-d3efa2                    0
371        S-d7ccbd                    0

[426 rows x 2 columns]