In [15]:
# pip install duckdb

In [16]:
import duckdb 
import os
import pandas as pd
import numpy as np
from pathlib import Path


con = duckdb.connect()

base_dir = Path("C:\\Users\\henry\\OneDrive\\Personal Career\\Personal Projects\\GitHub\\Revenue-Sustainability-Analysis\\Dataset")
data_dir = str(base_dir).replace("\\","/")

In [17]:
data_dir

'C:/Users/henry/OneDrive/Personal Career/Personal Projects/GitHub/Revenue-Sustainability-Analysis/Dataset'

In [18]:
df = con.execute(f"""
    SELECT *
    FROM '{base_dir}/subscriptions.parquet'
                 """).df()

In [19]:
df

,subscription_id,account_id,start_date,end_date,plan_tier,seats,mrr_amount,arr_amount,is_trial,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,auto_renew_flag
0,S-8cec59,A-3c1a3f,2023-12-23,2024-04-12,Enterprise,14,2786,33432,True,True,True,True,Monthly,True
1,S-0f6f44,A-9b9fe9,2024-06-11,None,Pro,17,833,9996,True,True,True,True,None,True
2,S-51c0d1,A-659280,2024-11-25,None,Enterprise,62,0,0,True,True,True,True,Annual,True
3,S-f81687,A-e7a1e2,2024-11-23,2024-12-13,Enterprise,5,995,11940,True,True,True,True,Monthly,True
4,S-cff5a2,A-ba6516,2024-01-10,None,Enterprise,27,5373,64476,True,True,True,True,Monthly,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S-c158df,A-fa2041,2024-10-27,None,Enterprise,18,3582,42984,True,True,True,True,Monthly,True
4996,S-b49c0a,None,2024-12-05,None,Pro,23,1127,13524,True,True,True,True,Monthly,True
4997,S-42822d,A-443f6f,2024-12-15,None,Pro,25,1225,<NA>,True,True,True,True,Annual,True
4998,S-432401,A-c7ffc2,2023-05-25,None,Pro,<NA>,6468,77616,True,True,True,True,Monthly,True
4999,S-71fc3d,A-ccb686,2024-12-06,None,Enterprise,10,1990,<NA>,True,True,True,True,Monthly,True