In [4]:
# pip install kagglehub

### Initialize the dataset into the raw_data file

In [ ]:
import pandas as pd
import numpy as np
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi
import os
from pathlib import Path
api = KaggleApi()
api.authenticate()
api.model_list_cli()

base_dir = Path('c:\\Users\\henry\\OneDrive\\Personal Career\\Personal Projects\\GitHub\\Revenue-Sustainability-Analysis')

raw_data_dir = Path(base_dir / 'raw_data')
if not raw_data_dir.exists():
    os.mkdir(raw_data_dir)

# Store purely kaggle data in the Kaggle folder
os.chdir(raw_data_dir)
kaggle_dir = (raw_data_dir / 'Kaggle')
if not kaggle_dir.exists():
    os.mkdir(kaggle_dir)

In [ ]:
datasets = [
        "rivalytics/saas-subscription-and-churn-analytics-dataset"
]

for d in datasets:
    api.dataset_download_files(
        d,
        path="Kaggle",
        unzip=True
    )

Dataset URL: https://www.kaggle.com/datasets/rivalytics/saas-subscription-and-churn-analytics-dataset

In [ ]:
os.chdir(kaggle_dir)

accts = pd.read_csv('ravenstack_accounts.csv')
churn_events = pd.read_csv('ravenstack_churn_events.csv')
feat = pd.read_csv('ravenstack_feature_usage.csv')
subs = pd.read_csv('ravenstack_subscriptions.csv')
sup_tix = pd.read_csv('ravenstack_support_tickets.csv')

In [18]:
accts.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,False
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,True
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,False
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,False
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,True

In [12]:
churn_events.describe

<bound method NDFrame.describe of     churn_event_id account_id  churn_date reason_code  refund_amount_usd  \
0         C-816288   A-c37cab  2024-10-27     pricing               4.03
1         C-5a81e7   A-37f969  2024-06-25     support              96.45
2         C-a174be   A-b07346  2024-11-12      budget               0.00
3         C-accb39   A-1e50e0  2023-11-01      budget              54.94
4         C-92f889   A-956988  2024-12-30     unknown               0.00
..             ...        ...         ...         ...                ...
595       C-b56a35   A-702032  2024-06-14  competitor               0.00
596       C-7e7822   A-dbc825  2024-02-03      budget               0.00
597       C-484fba   A-0a282f  2024-12-31     support              62.66
598       C-22f536   A-e5d6ab  2024-05-11  competitor               0.00
599       C-5e0b68   A-1f559b  2024-09-28    features               0.00

     preceding_upgrade_flag  preceding_downgrade_flag  is_reactivation  \
0                     False                     False            False
1                      True                     False            False
2                     False                     False            False
3                     False                     False            False
4                     False                      True             True
..                      ...                       ...              ...
595                   False                     False            False
596                   False                     False            False
597                   False                      True            False
598                    True                     False            False
599                   False                     False            False

              feedback_text
0    switched to competitor
1                       NaN
2          missing features
3    switched to competitor
4             too expensive
..                      ...
595  switched to competitor
596                     NaN
597           too expensive
598                     NaN
599                     NaN

[600 rows x 9 columns]>

In [13]:
feat.describe

<bound method NDFrame.describe of        usage_id subscription_id  usage_date feature_name  usage_count  \
0      U-1c6c24        S-0fcf7d  2023-07-27   feature_20            9
1      U-f07cb8        S-c25263  2023-08-07    feature_5            9
2      U-096807        S-f29e7f  2023-12-07    feature_3            9
3      U-6b1580        S-be655e  2024-07-28   feature_40            5
4      U-720a29        S-f9b1d0  2024-12-02   feature_12           12
...         ...             ...         ...          ...          ...
24995  U-134479        S-c249fb  2023-07-08   feature_16            7
24996  U-2031ad        S-b83d8d  2023-03-29   feature_31            8
24997  U-dd4ffc        S-ad7716  2024-10-03    feature_5            5
24998  U-49d9e1        S-dbad62  2024-06-25    feature_5            7
24999  U-6c82cc        S-31428b  2024-11-20   feature_28           10

       usage_duration_secs  error_count  is_beta_feature
0                     5004            0            False
1                      369            0            False
2                     1458            0            False
3                     2085            0            False
4                      900            0            False
...                    ...          ...              ...
24995                 4116            0            False
24996                 2240            1            False
24997                 2745            0            False
24998                 1715            0            False
24999                 4790            1            False

[25000 rows x 8 columns]>

In [14]:
subs.describe

<bound method NDFrame.describe of      subscription_id account_id  start_date    end_date   plan_tier  seats  \
0           S-8cec59   A-3c1a3f  2023-12-23  2024-04-12  Enterprise     14
1           S-0f6f44   A-9b9fe9  2024-06-11         NaN         Pro     17
2           S-51c0d1   A-659280  2024-11-25         NaN  Enterprise     62
3           S-f81687   A-e7a1e2  2024-11-23  2024-12-13  Enterprise      5
4           S-cff5a2   A-ba6516  2024-01-10         NaN  Enterprise     27
...              ...        ...         ...         ...         ...    ...
4995        S-c158df   A-fa2041  2024-10-27         NaN  Enterprise     18
4996        S-b49c0a   A-db5e9e  2024-12-05         NaN         Pro     23
4997        S-42822d   A-443f6f  2024-12-15         NaN         Pro     25
4998        S-432401   A-c7ffc2  2023-05-25         NaN         Pro    132
4999        S-71fc3d   A-ccb686  2024-12-06         NaN  Enterprise     10

      mrr_amount  arr_amount  is_trial  upgrade_flag  downgrade_flag  \
0           2786       33432     False         False           False
1            833        9996     False         False           False
2              0           0      True          True           False
3            995       11940     False         False           False
4           5373       64476     False         False           False
...          ...         ...       ...           ...             ...
4995        3582       42984     False         False           False
4996        1127       13524     False         False           False
4997        1225       14700     False         False           False
4998        6468       77616     False         False           False
4999        1990       23880     False         False           False

      churn_flag billing_frequency  auto_renew_flag
0           True           monthly             True
1          False           monthly             True
2          False            annual            False
3           True           monthly             True
4          False           monthly             True
...          ...               ...              ...
4995       False           monthly             True
4996       False           monthly            False
4997       False            annual             True
4998       False           monthly             True
4999       False           monthly             True

[5000 rows x 14 columns]>

In [15]:
sup_tix.describe

<bound method NDFrame.describe of      ticket_id account_id submitted_at            closed_at  \
0     T-0024de   A-712f1c   2023-07-27  2023-07-28 03:00:00
1     T-4d04b9   A-e43bf7   2024-07-08  2024-07-09 03:00:00
2     T-d5e12f   A-0f3e88   2024-10-17  2024-10-17 19:00:00
3     T-dfce9a   A-4c56c9   2024-09-08  2024-09-09 23:00:00
4     T-c59f77   A-6f8ad2   2024-11-30  2024-12-01 02:00:00
...        ...        ...          ...                  ...
1995  T-d9d697   A-417d2f   2024-11-06  2024-11-08 22:00:00
1996  T-a9918a   A-b20d99   2023-02-12  2023-02-14 15:00:00
1997  T-e3c91a   A-d3c88e   2023-04-29  2023-05-02 00:00:00
1998  T-91c983   A-dfbd31   2023-05-23  2023-05-23 03:00:00
1999  T-ccf229   A-b2225d   2024-07-10  2024-07-12 12:00:00

      resolution_time_hours priority  first_response_time_minutes  \
0                      27.0     high                           74
1                      27.0   urgent                          144
2                      19.0   urgent                           93
3                      47.0   medium                          126
4                      26.0   medium                            8
...                     ...      ...                          ...
1995                   70.0   urgent                            3
1996                   63.0      low                           22
1997                   72.0     high                           16
1998                    3.0     high                          177
1999                   60.0     high                           24

      satisfaction_score  escalation_flag
0                    NaN            False
1                    NaN            False
2                    4.0            False
3                    5.0            False
4                    NaN            False
...                  ...              ...
1995                 NaN            False
1996                 3.0            False
1997                 4.0            False
1998                 5.0            False
1999                 NaN            False

[2000 rows x 9 columns]>